.order_historylist_container {
  height: 9vh;
  width: 100%;
}
.order_historylist_container h5 {
  font-family: semibold;
  padding-top: 0.7rem;
}
.mobile_border_box {
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1.3rem;
}
.order_date_time {
  width: 100%;
  height: 10vh;
}
.order_date_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_date_text p {
  font-family: regular;
  color: gray;
  /* font-weight: 600; */
  font-size: 1.1rem;
}
.order_date_text p span {
  color: lightgreen;
  padding-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.order_id_text {
  display: flex;
  line-height: 1;
}
.order_id_text p {
  font-family: "Poppins", sans-serif;
  color: gray;
  /* font-weight: 600; */
  font-size: 15px;
  line-height: 0;
}
.orderlist_detail {
  width: 100%;
  height: 17vh;
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: #c42118; */

  /* border-bottom: 1px solid lightgray; */
}
.orderlist_detail_img img {
  height: 90px;
  width: 130px;
  border-radius: 5px;
}
.orderlist_detail_weight_price {
  display: flex;
  gap: 50px;
}
.orderlist_detail_text h5 {
  font-family: regular;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.orderlist_detail_weight_price p {
  font-family: regular;
  font-size: 1rem;
  padding-top: 2rem;
}
.show_date_time {
  height: 9vh;
  /* background-color: pink; */
  border-bottom: 1px solid lightgray;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_icon_time {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}
.order_icon_time img {
  height: 23px;
  width: 20px;
  padding-top: 3px;
}
.order_icon_time p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.repeat_order {
  height: 6vh;
  background-color: #c42118;
  width: 20%;
  border-radius: 5px;
}
.repeat_order p {
  text-align: center;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}
.order_list_viewdetail {
  width: 80%;
}
.order_list_viewdetail p {
  text-align: center;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #c42118;
}
.track_order {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track_order_btn {
  height: auto;
  width: 100%;
  background-color: #c42118;
  color: white;
  border-radius: 3px;
  text-align: center;
  font-family: medium;
  padding: 0.5rem 1.3rem;
  font-size: 0.9rem;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .order_list {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 3rem 0rem;
  }
  .order_historylist_container {
    width: 100%;
    height: auto;
  }
  .order_historylist_container h5 {
    font-size: 1.2rem;
    padding-top: 0px;
    padding-left: 20px;
  }

  .order_date_time {
    width: 100%;
    height: auto;
  }
  .mobile_border_box {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 90%;
    padding-bottom: 0rem;
  }
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px solid lightgray; */

  .order_date_text p {
    color: gray;
    font-size: 12px;
    padding-top: 20px;
    /* padding-left: 10px; */
  }
  .order_date_text p span {
    padding-right: 10px;
    color: #c42118;
  }
  .order_id_text p {
    color: gray;
    font-size: 12px;
    line-height: 0;
    /* padding-left: 10px; */
  }
  .orderlist_detail {
    width: 100%;
    height: auto;
    border-bottom: none;
    margin: 1rem 0rem;
  }
  .orderlist_detail_img {
    max-width: 30%;
    display: inline-block;
  }
  .orderlist_detail_img img {
    width: 100%;
    /* height: 55px; */
    /* margin-left: 10px; */
  }
  .orderlist_detail_text h5 {
    font-size: 13px;
    color: #717276;
    padding-top: 0rem;
  }
  .orderlist_detail_weight_price {
    gap: 10px;
  }
  .orderlist_detail_weight_price p {
    font-size: 12px;
    padding-top: 0rem;
    color: gray;
  }
  .show_date_time {
    height: 9vh;
    width: 100%;
  }
  .repeat_order {
    width: 33%;
    padding-top: 2px;
  }
  .repeat_order p {
    font-size: 12px;
  }
  .order_icon_time p {
    font-size: 12px;
    color: gray;
    font-weight: 500;
    padding-top: 3px;
  }
  .order_icon_time img {
    height: 20px;
    width: 17px;
  }
  .order_list_viewdetail p {
    font-size: 12px;
    padding-left: 50px;
    font-weight: 580;
  }

  .orderlist_detail {
    padding-left: 0px;
  }
  .track_order {
    width: 100%;
    padding-bottom: 1rem;
  }
  .track_order_btn {
    height: auto;
    font-size: 10px;
    text-align: center;
    width: 100%;
  }
  /* no order */
  .order_not_found {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .order_not {
    display: grid;
    place-items: center;
    grid-row-gap: 1rem;
  }
  .order_not h5 {
    font-family: medium;
    font-size: 1rem;
  }
  .order_not img {
    height: 100px;
    width: 100px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .order_list {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 3rem 0rem;
  }
  .order_historylist_container {
    width: 100%;
    height: auto;
  }
  .order_historylist_container h5 {
    font-size: 1.2rem;
    padding-top: 0px;
    padding-left: 20px;
  }

  .order_date_time {
    width: 100%;
    height: auto;
  }
  .mobile_border_box {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 90%;
    padding-bottom: 0rem;
  }
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px solid lightgray; */

  .order_date_text p {
    color: gray;
    font-size: 12px;
    padding-top: 20px;
    /* padding-left: 10px; */
  }
  .order_date_text p span {
    padding-right: 10px;
    color: #c42118;
  }
  .order_id_text p {
    color: gray;
    font-size: 12px;
    line-height: 0;
    /* padding-left: 10px; */
  }
  .orderlist_detail {
    width: 100%;
    height: auto;
    border-bottom: none;
    margin: 1rem 0rem;
  }
  .orderlist_detail_img {
    width: 20%;
  }
  .orderlist_detail_img img {
    width: 100%;
    /* height: 55px; */
    /* margin-left: 10px; */
  }
  .orderlist_detail_text h5 {
    font-size: 15px;
    padding-top: 0rem;
  }
  .orderlist_detail_weight_price {
    gap: 10px;
  }
  .orderlist_detail_weight_price p {
    font-size: 15px;
    padding-top: 0rem;
  }
  .show_date_time {
    height: 9vh;
    width: 100%;
  }
  .repeat_order {
    width: 33%;
    padding-top: 2px;
  }
  .repeat_order p {
    font-size: 12px;
  }
  .order_icon_time p {
    font-size: 12px;
    color: gray;
    font-weight: 500;
    padding-top: 3px;
  }
  .order_icon_time img {
    height: 20px;
    width: 17px;
  }
  .order_list_viewdetail p {
    font-size: 12px;
    padding-left: 50px;
    font-weight: 580;
  }

  .orderlist_detail {
    padding-left: 0px;
  }
  .track_order {
    width: 100%;
    padding-bottom: 1rem;
  }
  .track_order_btn {
    height: auto;
    font-size: 12px;
    text-align: center;
    width: 120%;
  }
  /* no order */
  .order_not_found {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .order_not {
    display: grid;
    place-items: center;
    grid-row-gap: 1rem;
  }
  .order_not h5 {
    font-family: medium;
    font-size: 1rem;
  }
  .order_not img {
    height: 100px;
    width: 100px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
  .order_list {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 3rem 0rem;
  }
  .order_historylist_container {
    width: 100%;
    height: auto;
  }
  .order_historylist_container h5 {
    font-size: 1.2rem;
    padding-top: 0px;
    padding-left: 20px;
  }

  .order_date_time {
    width: 100%;
    height: auto;
  }
  .mobile_border_box {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 90%;
    padding-bottom: 0rem;
  }
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px solid lightgray; */

  .order_date_text p {
    color: gray;
    font-size: 12px;
    padding-top: 20px;
    /* padding-left: 10px; */
  }
  .order_date_text p span {
    padding-right: 10px;
    color: #c42118;
  }
  .order_id_text p {
    color: gray;
    font-size: 12px;
    line-height: 0;
    /* padding-left: 10px; */
  }
  .orderlist_detail {
    width: 100%;
    height: auto;
    border-bottom: none;
    margin: 1rem 0rem;
  }
  .orderlist_detail_img {
    width: 20%;
  }
  .orderlist_detail_img img {
    width: 100%;
    /* height: 55px; */
    /* margin-left: 10px; */
  }
  .orderlist_detail_text h5 {
    font-size: 15px;
    padding-top: 0rem;
  }
  .orderlist_detail_weight_price {
    gap: 10px;
  }
  .orderlist_detail_weight_price p {
    font-size: 15px;
    padding-top: 0rem;
  }
  .show_date_time {
    height: 9vh;
    width: 100%;
  }
  .repeat_order {
    width: 33%;
    padding-top: 2px;
  }
  .repeat_order p {
    font-size: 12px;
  }
  .order_icon_time p {
    font-size: 12px;
    color: gray;
    font-weight: 500;
    padding-top: 3px;
  }
  .order_icon_time img {
    height: 20px;
    width: 17px;
  }
  .order_list_viewdetail p {
    font-size: 12px;
    padding-left: 50px;
    font-weight: 580;
  }

  .orderlist_detail {
    padding-left: 0px;
  }
  .track_order {
    width: 100%;
    padding-bottom: 1rem;
  }
  .track_order_btn {
    height: auto;
    font-size: 12px;
    text-align: center;
    width: 120%;
  }
  /* no order */
  .order_not_found {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .order_not {
    display: grid;
    place-items: center;
    grid-row-gap: 1rem;
  }
  .order_not h5 {
    font-family: medium;
    font-size: 1rem;
  }
  .order_not img {
    height: 100px;
    width: 100px;
  }

}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .order_list {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 3rem 0rem;
  }
  .order_historylist_container {
    width: 100%;
    height: auto;
  }
  .order_historylist_container h5 {
    font-size: 1.2rem;
    padding-top: 0px;
    padding-left: 20px;
  }

  .order_date_time {
    width: 100%;
    height: auto;
  }
  .mobile_border_box {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 90%;
    padding-bottom: 0rem;
  }
  /* margin-bottom: 2rem; */
  /* border-bottom: 1px solid lightgray; */

  .order_date_text p {
    color: gray;
    font-size: 12px;
    padding-top: 20px;
    /* padding-left: 10px; */
  }
  .order_date_text p span {
    padding-right: 10px;
    color: #c42118;
  }
  .order_id_text p {
    color: gray;
    font-size: 12px;
    line-height: 0;
    /* padding-left: 10px; */
  }
  .orderlist_detail {
    width: 100%;
    height: auto;
    border-bottom: none;
    margin: 1rem 0rem;
  }
  .orderlist_detail_img {
    width: 15%;
  }
  .orderlist_detail_img img {
    width: 100%;
    /* height: 55px; */
    /* margin-left: 10px; */
  }
  .orderlist_detail_text h5 {
    font-size: 15px;
    padding-top: 0rem;
  }
  .orderlist_detail_weight_price {
    gap: 10px;
  }
  .orderlist_detail_weight_price p {
    font-size: 15px;
    padding-top: 0rem;
  }
  .show_date_time {
    height: 9vh;
    width: 100%;
  }
  .repeat_order {
    width: 33%;
    padding-top: 2px;
  }
  .repeat_order p {
    font-size: 12px;
  }
  .order_icon_time p {
    font-size: 12px;
    color: gray;
    font-weight: 500;
    padding-top: 3px;
  }
  .order_icon_time img {
    height: 20px;
    width: 17px;
  }
  .order_list_viewdetail p {
    font-size: 12px;
    padding-left: 50px;
    font-weight: 580;
  }

  .orderlist_detail {
    padding-left: 0px;
  }
  .track_order {
    width: 100%;
    padding-bottom: 1rem;
  }
  .track_order_btn {
    height: auto;
    font-size: 12px;
    text-align: center;
    width: 120%;
  }
  /* no order */
  .order_not_found {
    height: 80vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .order_not {
    display: grid;
    place-items: center;
    grid-row-gap: 1rem;
  }
  .order_not h5 {
    font-family: medium;
    font-size: 1rem;
  }
  .order_not img {
    height: 100px;
    width: 100px;
  }
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1280px) {
  /* CSS rules for extra large screens and TV */
}
