.each-slide-effect > div {
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin-top: 1rem;
}
.banner_slider {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.cashback_container {
  height: 70vh;
  width: 50%;
  display: grid;
  place-items: center;
}
.cashback_content {
  width: 80%;
}
.cashback_container h1 {
  color: white;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
  /* text-transform: uppercase; */
  font-family: "M PLUS Rounded 1c", sans-serif;
}
.cashback_container h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 1.1rem;
  line-height: 1;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
}
.cashback_container h5 {
  color: white;
  padding-top: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;

  font-weight: 600;
}
.ban_discription {
  /* background-color: blue; */
  width: 50%;
}
.cashback_container h6 {
  color: white;
  padding-top: 1rem;
  line-height: 1.4;
  font-family: regular;
  font-size: 0.9rem;
}
.cashback_container button {
  height: auto;
  width: 30%;
  border: none;
  border-radius: 10px;
  background-color: #f1c40f;
  color: #c12118;
  font-weight: 600;
  font-family: bold;
  font-size: 1.2rem;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
  padding: 0.7rem 0rem;
  margin-top: 1rem;
}
