.myaccount_username_container{
    /* background-color: aqua; */
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 1rem;
}
.myaccount_username_container p{
    font-size: 1rem;
    text-align: justify;
    font-family: regular;
}
.myaccount_username_container p:first-child{
    font-family: regular;
    font-weight: 600;
   
}
.myaccount_username_container p img{
    height: 15px;
    width: 20px;
    border-radius: 2px;
    margin-bottom: 0.2rem;
}
