.topheader_container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topheader_content {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topheader_location {
  width: 50%;
  height: 8vh;
  display: flex;
}
.topheader_icon {
  width: 14%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topheader_icon p {
  font-size: 0.85rem;
  padding-top: 1rem;
  font-family: regular;
}
.topheader_icon p:hover {
  color: #ff0040;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.top_location {
  height: 8vh;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.top_location img {
  height: 18px;
  width: 18px;
  margin-bottom: 12px;
}
.top_location p {
  padding-top: 20px;
  font-size: 13px;
  padding-right: 15px;
  font-family: "Poppins", sans-serif;
}
.top_location p span {
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.toplemail_mob {
  height: 8vh;
  width: 30%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 1rem;
}
.toplemail_mob img {
  height: 30px;
  width: 30px;
}
.toplemail_mob p {
  padding-top: 15px;
  font-size: 13px;
}
.halal_image{
  display: grid;
  place-items: center;
  width: 20%;
}
.halal_image img{
  width: 100%;
}
.facebook {
  font-size: 18px;
  color: #ff0040;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.facebook:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}
.insta {
  font-size: 18px;
  color: #ff0040;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.insta:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}
.twitter {
  font-size: 18px;
  color: #ff0040;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.twitter:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}
.youtube {
  font-size: 18px;
  color: #ff0040;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.youtube:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}
.in {
  font-size: 18px;
  color: #ff0040;
  filter: brightness(100%);
  transition: 0.5s ease;
  cursor: pointer;
}
.in:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  /* CSS rules for mobile devices */

  .topheader_content {
    width: 100%;
  }

  .topheader_location {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
    z-index: 999;
    padding: 0px;
    display: grid;
    place-items: center;
  }
  .top_location {
    /* padding-left: 1.1rem; */
    gap: 5px;
    width: 91%;
  }
  .top_location img {
    height: 1rem;
    width: 1rem;
  }
  .top_location p {
    font-size: 0.7rem;
  }
  .top_location p span {
    font-size: 0.8rem;
  }

  .toplemail_mob {
    display: none;
  }
  .topheader_icon {
    display: none;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .toplemail_mob {
    display: none;
  }
  .topheader_icon {
    display: none;
  }
  .topheader_content {
    width: 100%;
  }
  .topheader_location {
    /* background-color: aqua; */
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
    z-index: 999;
    display: grid;
    place-items: center;
  }
  .top_location {
    /* background-color: blue; */
    /* padding-left: 20px; */
    width: 92%;
  }
  .top_location img {
    height: 1.2rem;
    width: 1.2rem;
  }
  .top_location p {
    font-size: 0.8rem;
  }
  .top_location p span {
    font-size: 0.9rem;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .toplemail_mob {
    display: none;
  }
  .topheader_icon {
    display: none;
  }
  .topheader_content {
    width: 100%;
  }
  .topheader_location {
    /* background-color: aqua; */
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
    z-index: 999;
    display: grid;
    place-items: center;
  }
  .top_location {
    width: 92%;
  }
  .top_location img {
    height: 1.2rem;
    width: 1.2rem;
  }
  .top_location p {
    font-size: 0.8rem;
  }
  .top_location p span {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  /* CSS rules for desktops and large screens */
  .topheader_content {
    min-width: 92%;
  }
  .topheader_location {
    min-width: 60%;
    gap: 5px;
  }
  .topheader_icon {
    min-width: 18%;
  }

  .toplemail_mob p {
    padding-top: 0.7rem;
  }
  .in,
  .facebook,
  .insta,
  .youtube,
  .twitter {
    font-size: 1rem;
  }
  .topheader_icon p{
    font-size: 0.8rem;
  }
}
/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .topheader_content {
    min-width: 90%;
  }
  .topheader_location {
    min-width: 60%;
    gap: 5px;
  }
  .topheader_icon {
    min-width: 15%;
  }

  .toplemail_mob p {
    padding-top: 0.7rem;
  }
  .in,
  .facebook,
  .insta,
  .youtube,
  .twitter {
    font-size: 1rem;
  }
  .topheader_icon p{
    font-size: 0.8rem;
  }
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for desktops and large screens */
  .topheader_content {
    min-width: 90%;
  }
  .topheader_location {
    min-width: 60%;
    gap: 5px;
  }
  .topheader_icon {
    min-width: 15%;
  }

  .toplemail_mob p {
    padding-top: 0.7rem;
  }
  .in,
  .facebook,
  .insta,
  .youtube,
  .twitter {
    font-size: 1.1rem;
  }
  .topheader_icon p{
    font-size: 0.8rem;
  }
}
