.cash_delivery_heading {
  height: 7vh;
}

.order_confirm_btn {
  background-color: #c42118;
  height: 6vh;
  width: 30%;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 2.5rem;
  margin-top: 0.8rem;
  font-weight: 600;
  font-family: semibold;
  font-size: 17px;
}
.cash_delivery_card{
  display: flex;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 95%;
}
.cash_delivery_image{
  width: 25%;
  height: 12vh;
  /* background-color: red; */
  display: grid;
  place-items: center;
}
.cash_delivery_image img{
  height: 10vh;
  width: 90%;
  border-radius: 5px;
}
.cash_delivery_content_text{
  width: 75%;
  height: 12vh;
}
.cash_delivery_content_name{
  width: 90%;
  height: 6vh;
}
.cash_delivery_content_name p{
  font-family: semibold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-top: 5px;
}
.cash_delivery_content_weight{
  width: 100%;
  height: 6vh;
  display: flex;
  gap: 30px;
}
.cash_delivery_content_weight p{
  font-family: medium;
  padding-left: 10px;
  padding-top: 10px;

}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .cash_delivery_heading {
    display: none;
  }

  .order_confirm_btn {
    margin-left: 0px;
    margin-top: 20px;
    font-size: 12px;
    width: 35%;
  }
  .cash_delivery_card{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
  }
  .cash_delivery_content_name p{
   font-size: 12px;
  }
  .cash_delivery_content_weight{
    gap: 10px;
  }
  .cash_delivery_content_weight p{
    font-size: 12px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .cash_delivery_heading {
    display: none;
  }

  .order_confirm_btn {
    margin-left: 0px;
    margin-top: 10px;
    font-size: 12px;
    width: 35%;
    /* background-color: orange; */
  }
  .cash_delivery_card{
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    background-color: white;
  }
  .cash_delivery_content_name p{
   font-size: 12px;
  }
  .cash_delivery_content_weight{
    gap: 10px;
  }
  .cash_delivery_content_weight p{
    font-size: 12px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens and TV */
}
