.homepagecontainer {
  padding-bottom: 5rem;
}

.main_categorie_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoriecard_content {
  width: 89%;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.swiperNavPrev {
  left: 0rem;
  border-radius: 50px;
  border: 1px solid #929294;
  display: grid;
  place-items: center;
}
.swiperNavPrev:hover {
  border: 1px solid #ff0040;
  transition: 0.3s ease-in-out;
}
.swiperNavNext {
  right: 0rem;
  border-radius: 50px;
  border: 1px solid #929294;
  display: grid;
  place-items: center;
}
.swiperNavNext:hover {
  border: 1px solid #ff0040;
  transition: 0.3s ease-in-out;
}
.swiperNavNext,
.swiperNavPrev {
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.next_prev_btn_container {
  width: 100%;
  display: grid;
  place-items: center;
  height: auto;
  padding: 2rem 0rem;
}
.next_prev_btn {
  /* background-color: olivedrab; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  gap: 1rem;
}
.next_prev_btn_content {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
}
.head_box {
  width: 50%;
}
.FaArrowRight {
  color: #929294;
}
.FaArrowLeft {
  color: #929294;
}
.FaArrowRight:hover {
  color: #ff0040;
  transition: 0.3s ease-in-out;
}
.FaArrowLeft:hover {
  color: #ff0040;
  transition: 0.3s ease-in-out;
}
.todaydeals_container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding: 3rem 0rem 2rem 0rem;
}
.todaydeals_content {
  width: 89%;
  height: auto;
}
.todaydeals_content h5 {
  font-family: semibold;
}
.todaydeals_content p {
  font-family: light;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .homepagecontainer {
    padding-bottom: 7rem;
  }
  .categoriecard_content {
    width: 100%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    word-wrap: break-word;
  }
  .next_prev_btn_container {
    padding: 0rem 0rem;
  }
  .head_box {
    width: 100%;
  }
  .next_prev_btn_content {
    display: none;
  }
  .todaydeals_content h5 {
    font-family: semibold;
    font-size: 16px;
  }
  .todaydeals_content p {
    font-size: 13px;
  }
  .next_prev_btn_content {
    display: none;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .categoriecard_content {
    width: 93%;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .next_prev_btn_content {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .categoriecard_content {
    width: 93%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}
@media only screen and (min-width: 720px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .categoriecard_content {
    width: 93%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .categoriecard_content {
    width: 93%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
  .categoriecard_content {
    width: 93%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .categoriecard_content {
    width: 91%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1200px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
  .main_categorie_container {
    padding-bottom: 2rem;
  }
  .categoriecard_content {
    width: 91%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}
