.singlecard {
  /* background-color: #FC0043; */
  max-width: 100%;
  height: 100%;
  align-items: center;
  background-size: cover;
  padding: 0px 48px 0px -20px;
  margin: 0px 0px 0px 0px;
   
 
}

.image_singlecard {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 65px;
  padding: 0px 1px 0px 0px;
  margin: 0px 10px 0px 1px;;
  display: inline-block;
  
  /* background-color: #ff0040; */
}

.image_singlecard img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-size:cover;
  align-items: center;
  transition: 0.3s ease-in-out;
  
  /* background-color: chartreuse; */

}
/* .image_singlecard:hover img {
  transform: scale(1.2);
} */

.offer_singlecard {
  width: 100%;

}
.offer_singlecard h4 {
  /* font-weight: 600; */
  font-family: semibold;
  padding: 1rem 0rem 0rem 0rem;
  font-size: 1.6rem;
  color: #ff0040;
}
.icons_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.fa_search {
  font-size: 18px;
  color: rgb(192, 194, 196);
  cursor: pointer;
  margin-top: 20px;
  /* background-color: #ff0040; */
}
.fa_search:hover {
  color: #ff0040;
  transition: 0.3s ease-in-out;
}
.icons_img img {
  cursor: pointer;
}
.hover-image {
  margin-right: 5px;
}
.rating {
  padding: 14px 0px;
  height: auto;
  /* background-color: aquamarine; */
}
.name_singlecard {
  min-height: 4vh;
  width: 100%;
}
.name_singlecard p {
  /* font-weight: 900; */
  font-family: semibold;
  font-size: 15px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 20px;
  /* background-color: red; */
  margin-bottom: -10px;
  margin-top: -25px;
}
.weight_singlecard {
  min-height: 4vh;
  width: 100%;
}
.weight_singlecard p {
  font-family: regular;
  font-size: 15px;
  color: black;
}
.price_singlecard {
  width: 100%;
  height: 4vh;
  display: flex;
  gap: 10px;
}
.price_singlecard p {
  font-family: medium;
  font-size: 18px;
}
.today_singlecard {
  height: 3vh;
  width: 100%;
}
.today_singlecard p {
  font-family: regular;
  font-size: 15px;
  color: black;
}
.time_singlecard {
  height: 3vh;
  width: 100%;
}
.time_singlecard p {
  font-family: regular;
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-top: 10px;
 
}

.shop_now_btn {
  background-color: #FC0043;
  width: 50%;
  height: 7vh;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  display: grid;
  place-items: center;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .singlecard {
    width: 100%;
    height: auto;
  }
  .image_singlecard {
    width: 100%;
    height: 37vh;
  }
  .image_singlecard img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .icons_img {
    width: 15%;
  }
  .rating{
    height: auto;
    padding: 0.5rem 0rem;
  }
  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 14px;
    font-family: regular;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .offer_singlecard h4 {
    font-size: 1.2rem;
    padding: 0.5rem 0rem 0.2rem 0rem;
    font-family: regular;
  }
 

  .total_singlecard button {
    width: 30%;
    height: 5vh;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
  }
  .weight_singlecard p {
    font-family: regular;
    font-size: 13px;
    padding-top: 0px;
    color: black;
  }
  .price_singlecard p {
    font-size: 13px;
    padding-top: 0px;
    font-family: light;
  }
  .today_singlecard p {
    font-size: 13px;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }

  .shop_now_btn {
    font-size: 12px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .singlecard {
    max-width: 100%;
    height: auto;
  }
  .image_singlecard {
    width: 100%;
    height: 37vh;
    display: inline-block;
  }
  .image_singlecard img {
    border-radius: 15px;
    width: 100%;
    height: 100%
  }
  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }
  .rating{
    height: auto;
    padding: 0.5rem 0rem;
  }
  .offer_singlecard h4 {
    padding-top: 20px;
    font-size: 27px;
  }

  
  .offer_singlecard h4 {
    font-size: 1.5rem;
    padding: 0.5rem 0rem 0rem 0rem;
    font-family: regular;
  }
  .price_singlecard p {
    font-size: 17px;
  }
  
  .icons_img {
    width: 14%;
    gap: 0.2rem;
  } 
  .icons_img img {
    background-color: red;
  }
  .shop_now_btn {
    width: 35%;
    font-size: 0.8rem;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .singlecard {
    height: auto;
    max-width: 100%;
  }
  .image_singlecard {
    width: 100%;
    height: 37vh;
    display: inline-block;
  }
  .image_singlecard img {
    width: 100%;
    height: 100%;
  }

  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }
  .offer_singlecard h4 {
    padding-top: 20px;
    font-size: 27px;
  }
  .offer_singlecard {
    height: 8vh;
  }
  .price_singlecard p {
    font-size: 17px;
  }
  .ammount_singlecard p span {
    font-size: 17px;
  }
  .time_singlecard p {
    font-size: 15px;
  }
  .ammount_singlecard p {
    font-size: 14px;
  }
  .total_singlecard button {
    width: 30%;
    height: 5vh;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .singlecard {
    width: 100%;
    height: auto;
  }
  .image_singlecard {
    width: 100%;
    height: 35vh;
  }
  .image_singlecard img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  
  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }
  .offer_singlecard h4 {
    padding-top: 20px;
    font-size: 27px;
  }
  .offer_singlecard {
    height: 8vh;
  }
  .price_singlecard p {
    font-size: 17px;
  }
  .ammount_singlecard p span {
    font-size: 17px;
  }
  .time_singlecard p {
    font-size: 15px;
  }
  .ammount_singlecard p {
    font-size: 14px;
  }
  .total_singlecard button {
    width: 30%;
    height: 5vh;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .singlecard {
    width: 100%;
    height: auto;
  }
  .image_singlecard {
    width: 100%;
    height: 35vh;
  }
  .image_singlecard img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }
  .offer_singlecard h4 {
    padding-top: 20px;
    font-size: 27px;
  }
  .offer_singlecard {
    height: 8vh;
  }
  .price_singlecard p {
    font-size: 17px;
  }
  .ammount_singlecard p span {
    font-size: 17px;
  }
  .time_singlecard p {
    font-size: 15px;
  }
  .ammount_singlecard p {
    font-size: 14px;
  }
  .total_singlecard button {
    width: 30%;
    height: 5vh;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 600;
  }
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
  .singlecard {
    width: 100%;
    height: auto;
  }
  .image_singlecard {
    width: 100%;
    border-radius: 15px;
    height: auto;
  }
  .image_singlecard img {
    height: 30vh;
    width: 100%;
  }

  .name_singlecard {
    width: 100%;
  }
  .name_singlecard p {
    font-size: 14px;
    padding-top: 15px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time_singlecard p {
    font-size: 13px;
    font-weight: 500;
  }
  /* */
  .offer_singlecard {
    margin: 0.2rem 0rem 0.2rem 0rem;
  }
  .offer_singlecard h4 {
    font-weight: 900;
    font-family: semibold;
    font-size: 1.5rem;
    color: #ff0040;
  }
  .offer_singlecard {
    height: 8vh;
  }
  .price_singlecard p {
    font-size: 17px;
  }
  .total_singlecard {
    padding-top: 1rem;
  }
}
