
.singlecard_container {
  width: 300px;
  height: 75vh;
  /* background-color: red; */

}
/* .singlecard_container:hover{
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem 1rem;
  transform: matrix3d();

} */

.customtodaycard1 {
  /* margin-left: 10%; */
  color: black;
  /* background-color: aqua; */
}

.image_singlecard_detail{
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.image_singlecard_detail img {
  border-radius: 10px;
  width: 100%;
  height: 30vh;
  display: block;
  transition: 0.3s ease-in-out
}
.image_singlecard_detail:hover img {
  transform: scale(1.2);
}
.total_singlecard {
  height: 15vh;
}

/* .total_singlecard button {
  background-color: #ff0040;
  width: 40%;
  height: 5.5vh;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
} */

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .singlecard_container {
    width: 100%;
    height: 70vh;

  }
  .image_singlecard_detail img {
    border-radius: 10px;
    height: 100;
    width: 100%;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .singlecard_container {
    width: 100%;
    height: 65vh;

  }
  .image_singlecard_detail img {
    border-radius: 10px;
    width: 210px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */

@media screen and (min-width: 1280px) {

}
