.singlecard_container {
  max-width: 90%;
  height: auto;
}


.customtodaycard1 {
  /* margin-left: 10%; */
  color: black;
  /* background-color: aqua; */
}

.image_singlecard_detail {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  display: inline-block;
}
.image_singlecard_detail img {
  border-radius: 10px;
  width: 100%;
  height: 30vh;
  display: block;
  transition: 0.3s ease-in-out;
}
.image_singlecard_detail:hover img {
  transform: scale(1.2);
}
.total_singlecard {
  height: 15vh;
}

/* .total_singlecard button {
  background-color: #ff0040;
  width: 40%;
  height: 5.5vh;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
} */

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 400px) {
  /* CSS rules for mobile devices */
  .singlecard_container {
    max-width:100%;
    height: auto;
  }
  .image_singlecard_detail img {
    border-radius: 10px;
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 401px) and (max-width: 480px){
  .singlecard_container {
    width:100%;
    height: auto;
  }
  .image_singlecard_detail{
    height: 20vh;
  }
  .image_singlecard_detail img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .shop_now_btn{
    width: 100px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
  /* CSS rules for iPads and tablets */
  .singlecard_container {
    min-width: 100%;
    height: auto;

  }
  .image_singlecard_detail{
    display: inline-block;

  }
  .image_singlecard_detail img {
    border-radius: 10px;
    width: 100%;
    height: 25vh;
  }
  .shop_now_btn{
    width: 100px;
  }

}
@media only screen and (min-width: 601px) and (max-width: 768px){
  .singlecard_container {
    min-width: 100%;
    height: auto;

  }
  .image_singlecard_detail{
    display: inline-block;

  }
  .image_singlecard_detail img {
    border-radius: 10px;
    width: 100%;
    height: 25vh;
  }
  .shop_now_btn{
    width: 100px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
 
  .shop_now_btn{
    width: 100px;
    font-size: 0.8rem;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .singlecard_container{
    max-width: 100%;
  }
  .shop_now_btn{
    font-size: 0.8rem;
  }

}

/* Extra large screens, TV (1201px and above) */

@media screen and (min-width: 1280px) {
}
