.Custom_container {
  min-width: 90%;
  height: auto;
}


.Custom_img_container {
  overflow: hidden;
  border-radius: 15px;
  display: inline-block;
}
.Custom_img_container img {
  border-radius: 10px;
  display: block;
  height: 34vh;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.Custom_img_container:hover img {
  transform: scale(1.2);
}


/* .total_singlecard button {
  background-color: #ff0040;
  width: 40%;
  height: 5.5vh;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
} */

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 400px) {
  /* CSS rules for mobile devices */
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 35vh;
    display: inline-block;
    width: 100%;
  }
  .Custom_img_container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 25vh;
  }
  .Custom_img_container img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  .shop_now_btn {
    width: 100px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 600px) {
  /* CSS rules for iPads and tablets */
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    display: inline-block;
    height: 28vh;
  }
  .Custom_img_container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .shop_now_btn {
    width: 100px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 24vh;
    display: inline-block;
  }
  .Custom_img_container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .shop_now_btn {
    width: 100px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 30vh;
    display: inline-block;
  }
  .Custom_img_container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .shop_now_btn {
    width: 100px;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 32vh;
    display: inline-block;
  }
  .Custom_img_container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .shop_now_btn {
    width: 100px;
    font-size: 0.8rem;
  }
}
/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  .Custom_img_container {
    height: 27vh;
    display: inline-block;
  }
  .Custom_img_container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
  }
  .shop_now_btn {
    font-size: 0.8rem;
  }
}

/* Extra large screens, TV (1201px and above) */

@media screen and (min-width: 1201px) and (max-width: 1530px) {
  .Custom_container {
    max-width: 100%;
    height: auto;
  }
  
  
  .Custom_img_container {
    overflow: hidden;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
  }
  .Custom_img_container img {
    border-radius: 10px;
    display: block;
    height: 34vh;
    width: 100%;
    transition: 0.3s ease-in-out;
  }
  .shop_now_btn {
    font-size: 0.8rem;
  }
}
