.cardetail_container {
  width: 100%;
  margin-top: 5%;
  display: grid;
  place-items: center;
}
.cardetail {
  width: 90%;
  height: auto;
  display: flex;
  gap: 50px;
}
.image_cardetail {
  width: 35%;
  height: auto;
  border-radius: 20px;
}
.image_cardetail_slider img {
  width: 100%;
  height: 60vh;
  border-radius: 20px;
}

.cardetail_content {
  width: 50%;
  height: auto;
}
.image_cardetail_slider {
  display: flex;
  width: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 20px;
}

.image_cardetail_slider::-webkit-scrollbar {
  overflow: hidden;
}
.cardfull_detail_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.cardfull_detail_container_text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cardfull_detail_container_text p {
  font-family: light;
  font-weight: 600;
  padding-top: 10px;
  font-size: 18px;
}

.image_text_container {
  height: 12vh;
  width: 100%;
  border: 1px solid grey;
}
.image_text_content1 {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}
.image_text_content1 span {
  font-family: regular;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 5px;
}
.image_text_content3 {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.image_text_content3 span {
  font-family: regular;
  font-size: 14px;
  padding-left: 10px;
}
.image_text_content1 img {
  height: 40px;
  width: 40px;
}
.image_text_content3 img {
  height: 35px;
  width: 35px;
}
.slider_next_btn_full_detail {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 7px;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1), 0 0px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%;
  top: 55%;
}
.Add_to_cart_btn {
  width: 17%;
}
.Add_to_cart_btn button {
  background-color: #ff0040;
  border: none;
  height: 5.5vh;
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  font-family: semibold;
}
.full_view_incre_btn {
  height: 5.5vh;
  width: 18%;
  border: 2px solid #ff0040;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.full_view_incre_btn p {
  color: #ff0040;
  font-size: 1.2rem;
  font-family: semibold;
  padding-top: 15px;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */

  .slider_next_btn_full_detail {
    display: none;
  }
  .fullview_search_mobile {
    display: none;
  }
  .cardetail {
    min-width: 92%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0px;
    gap: 10px;
  }
  .image_cardetail {
    width: 100%;
  }
  .cardetail_content {
    width: 100%;
  }
  .cardetail1 h4 {
    font-size: 1.1rem;
  }
  .cardetail1 p {
    font-size: 0.8rem;
    font-family: regular;
    text-align: justify;
  }
  .Add_to_cart_btn {
    width: 25%;
  }
  .Add_to_cart_btn button {
    padding-top: 0.1rem;
    font-size: 0.7rem;
  }
  .cardfull_detail_container_text p{
    font-size: 1.1rem;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .slider_next_btn_full_detail {
    display: none;
  }
  .fullview_search_mobile {
    display: none;
  }
  .cardetail {
    min-width: 92%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0px;
    gap: 10px;
  }
  .image_cardetail {
    width: 100%;
  }
  .cardetail_content {
    width: 100%;
  }
  .cardetail1 h4 {
    font-size: 1.1rem;
  }
  .cardetail1 p {
    font-size: 0.8rem;
    font-family: regular;
    text-align: justify;
  }
  .Add_to_cart_btn {
    width: 25%;
  }
  .Add_to_cart_btn button {
    padding-top: 0.1rem;
    font-size: 0.7rem;
  }
  .cardfull_detail_container_text p{
    font-size: 1.1rem;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .slider_next_btn_full_detail {
    display: none;
  }
  .fullview_search_mobile {
    display: none;
  }
  .cardetail {
    min-width: 92%;
    display: grid;
    grid-template-columns: 100%;
    margin-top: 0px;
    gap: 10px;
  }
  .image_cardetail {
    width: 100%;
  }
  .cardetail_content {
    width: 100%;
  }
  .cardetail1 h4 {
    font-size: 1.1rem;
  }
  .cardetail1 p {
    font-size: 0.8rem;
    font-family: regular;
    text-align: justify;
  }
  .Add_to_cart_btn {
    width: 18%;
    cursor: pointer;
  }
  .Add_to_cart_btn button {
    padding-top: 0.1rem;
    font-size: 0.7rem;
  }
  .cardfull_detail_container_text p{
    font-size: 1.1rem;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  /* CSS rules for desktops and large screens */
  .cardetail {
    min-width: 92%;
   
    margin-top: 0px;
    gap: 20px;
  }
  .image_cardetail {
    min-width: 50%;
  }
  .cardetail1 p {
    font-size: 0.8rem;
    font-family: regular;
    text-align: justify;
  }
  .Add_to_cart_btn {
    width: 28%;
    cursor: pointer;
  }
  .cardfull_detail_container_text p{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .cardetail {
    min-width: 90%;
   
    margin-top: 0px;
    gap: 30px;
  }
  .image_cardetail {
    min-width: 45%;
  }
  .cardetail1 p {
    font-size: 0.9rem;
    font-family: regular;
    text-align: justify;
  }
  .Add_to_cart_btn {
    width: 25%;
    cursor: pointer;
  }
  .cardfull_detail_container_text p{
    font-size: 1rem;
  }
}
/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
  .cardetail {
    width: 90%;
  }

  .image_cardetail_slider img {
    border-radius: 25px;
    height: 70vh ;
  }
  
  .image_cardetail {
    width: 40%;
    height: auto;
  }
  .cardetail1 p {
    
    text-align: justify;
  }
}
/*@media screen and (max-width: 768px)   {
  .cardetail{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  
  .image_cardetail{
    width: 100%;
  }
  .cardetail_content{
    width: 100%;
    margin-bottom: 20px;
    margin-top: -40px;
  }
    /* .cardetail{
     
      }
      .cardetail1{
        width: 100%;
    } */
