
  .whist_list_component_container {
    /* background-color: aqua; */
    width: 100%;
    height: 14vh;
    display: flex;
    gap: 1rem;
  }
  .whist_list_image {
    width: 12%;
    /* background-color: blue; */
    height: 12vh;
    border-radius: 10px;

  }
  .whist_list_image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .whist_list_text {
    width: 25%;
    /* background-color: pink; */
    height: 12vh;
  }
  .whist_list_text_name {
    width: auto;
    height: 6vh;
    /* background-color: yellow; */
    /* padding: 0rem 1rem; */
    margin: 0;
    padding: 0;
  }
  .whist_list_text_qty {
    width: 100%;
    height: 6vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

  }
  .whist_list_text_qty p{
    padding-top: 1.2rem;
  }
  .whist_list_addtocart {
    width: 20%;
    /* background-color: orange; */
    height: 12vh;
  }
  .remove_whist_list{
    /* background-color: pink; */
    height: 6vh;
    width: 100%;
  }
  .remove_whist_list{
    /* background-color: pink; */
    height: 6vh;
    width: 100%;
  }
  .remove_whist_list p{
    color: #FF0040;
    font-weight: regular;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }
  .addto_cart{
    /* background-color: orangered; */
    height: 6vh;
    width: 100%;
    display: grid;
    place-items: center;
    /* padding-top: 1rem; */
  }
  .addto_cart button{
    background-color: #FF0040;
    width: 50%;
    height: 6vh;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;

  }
  