.navbar {
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.desktop_herder_content {
  width: 90%;
  background-color: white;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.luqma_logo img {
  height: 120px;
  width: 180px;
}
.luqma_location {
  height: 8vh;
  width: 20%;
}

.luqma_location_top {
  width: 100%;
  height: 2.5vh;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.luqma_location_top img {
  width: 17px;
  height: 17px;
}
.luqma_location_top p {
  font-size: 1rem;
  font-family: semibold;
  padding-top: 1rem;
}
.luqma_location_bottom {
  width: 90%;
  height: 2.5vh;
  padding-left: 1.4rem;
  padding-top: 0.2rem;
}
.luqma_location_bottom p {
  font-size: 0.9rem;
  font-family: regular;
  line-height: 1.1;
  /* background-color: pink; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.luqma_location_bottom p span {
  font-family: semibold;
}
.luqma_input {
  height: 5vh;
  width: 25%;
  /* background-color: red; */
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.luqma_input input {
  width: 300px;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-family: regular;
}
.luqma_option {
  width: 30%;
  /* background-color: pink; */
  align-items: center;
  margin: 0;
  padding: 0;
  height: 5vh;
}
.luqma_option ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: olivedrab; */
  height: 5vh;
}
ul li {
  list-style: none;
  text-decoration: none;
  font-family: regular;
}
.currency_container {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.currency_container img {
  height: 18px;
  width: 18px;
  /*   cursor: none; */
}
.currency_container p {
  font-size: 0.8rem;
  padding-top: 1.1rem;
  /*   cursor: none; */
}
.cart_border_container {
  border: 1px solid #ff0040;
  width: 115px;
  height: 7vh;
  border-radius: 10px;
  display: flex;
}
.cart_border_content1 {
  width: 35%;
  /* background-color: aqua; */
  height: 7vh;
  display: grid;
  place-items: center;
}
.cart_border_content1 img {
  height: 18px;
  width: 18px;
}
.cart_border_content2 {
  width: 65%;
  height: 7vh;
}
.cart_border_content2 p {
  font-size: 0.8rem;
  font-family: regular;
  padding-top: 0.5rem;
  color: black;
}
.cart_border_content2 p span {
  font-size: 0.9rem;
  font-family: regular;
  font-weight: 600;
  color: #ff0040;
  line-height: 1;
}
/* end header style */

/* login style */

.handle_login {
  position: absolute;
  top: 50%;
  left: 87%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 100vh;
  background-color: white;
  box-shadow: 24;
}
.sign_in_logo {
  width: 95%;
  height: 60vh;
}
.sign_in_logo img {
  width: 100%;
  height: 450px;
}
.handle_login_container {
  position: absolute;
  top: 75%;
  left: 47%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 94%;
  background-color: white;
}
.handle_login_heading {
  width: 100%;
  height: 7vh;
  background-color: #ff0040;
}
.handle_login_heading p {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  font-family: regular;
  font-weight: 600;
  color: white;
}

.handle_login_number_container {
  width: 100%;
  height: 10vh;
  /* background-color: orange; */
  display: grid;
  place-items: center;
}
.handle_login_number_content {
  width: 85%;
  height: 6vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.handle_login_number_content input {
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  font-family: regular;
}
.handle_login_number_content p {
  padding-top: 0.9rem;
  font-family: regular;
  color: #c42118;
}
.handle_login_otp_container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding-top: 2rem;
}
.handle_login_otp_content {
  width: 85%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.email_verify {
  width: 85%;
}
.email_verify p {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.email_verify p span {
  color: #ff0040;
  font-family: regular;
}
.handle_login_otp_content input {
  width: 60%;
  height: 5vh;
  border: none;
  outline: none;
  font-family: regular;
}
.handle_login_otp_content p {
  padding-top: 0.9rem;
  font-family: regular;
  color: #ff0040;
  cursor: pointer;
}
.handle_login_btn_container {
  width: 100%;
  height: 12vh;
  /* background-color: orange; */
  display: grid;
  place-items: center;
  /* margin-bottom: 6rem; */
}
.handle_login_btn_content {
  width: 85%;
  height: 6vh;
  background-color: #ff0040;
  border-radius: 5px;
}
.handle_login_btn_content p {
  text-align: center;
  font-size: 1.1rem;
  font-family: regular;
  font-weight: 600;
  color: white;
  padding-top: 0.6rem;
}
.handle_login_btn_content p:hover {
  cursor: pointer;
}
.handle_login_proceed_container {
  width: 100%;
  height: 12vh;
  /* background-color: orange; */
  display: grid;
  place-items: center;
  /* margin-bottom: 10rem; */
}
.handle_login_proceed_content {
  width: 85%;
  height: 6vh;
  background-color: #ff0040;
  border-radius: 5px;
  cursor: pointer;
}
.handle_login_proceed_content p {
  text-align: center;
  font-size: 1.1rem;
  font-family: regular;
  font-weight: 600;
  color: white;
  padding-top: 0.6rem;
}
.mobile_input {
  display: none;
}
.mobile_input_search {
  width: 90%;
}
.currency_container p {
  color: black;
}
/* google login */
.continue_or_container {
  width: 100%;
  height: 2vh;
  /* background-color: orange; */
  display: grid;
  place-items: center;
}
.continue_or_content {
  width: 30%;
  height: 2vh;
  /* background-color: aqua; */
}
.continue_or_content img {
  width: 100%;
  height: 1vh;
  display: block;
}
.continue_google_container {
  width: 100%;
  height: 10vh;
  /* background-color: orange; */
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}
.continue_google_content {
  width: 55%;
  height: 6vh;
  /* background-color: aqua; */
}
.continue_google_content img {
  width: 100%;
  height: 6vh;
  cursor: pointer;
}
.crossbtn {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 28rem;
  display: grid;
  place-items: center;
  top: 1rem;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
}
.crossbtn img {
  height: 30px;
  width: 30px;
  transition: 0.3s linear;
}
.crossbtn img:hover {
  transform: rotateZ(90deg);
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .handle_login {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100vh;
    background-color: white;
    box-shadow: 24;
  }

  .luqma_logo_img img {
    height: 70px;
    width: 140px;
  }
  .style {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 100vh;
    background-color: pink;
    box-shadow: 24;
  }
  .modal_style {
    position: absolute;
    top: 100%;
    transform: translate(-66%, -100%);
    height: 50vh;
    background-color: white;
    width: 70%;
  }
  .close_btn_cross {
    /* background-color: #ee1d23; */
    height: 35px;
    width: 7%;
  }
  .cross_img {
    width: 30px;
    height: 30px;
    position: absolute;
  }
  .navbar {
    display: none;
  }
  .mobile_input {
    display: block;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_input_search {
    width: 90%;
    height: 5.5vh;
    border: 1px solid #b2b3b3;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile_input_search img {
    margin-right: 1rem;
  }
  .mobile_input_search input {
    width: 100%;
    height: 4vh;
    padding-left: 1rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: #b2b3b3;
    font-family: "Poppins", sans-serif;
  }
}

.sign_in_logo {
  width: 100%;
  height: 80vh;
}
.sign_in_logo img {
  width: 100%;
  height: 370px;
  background-position: center;
  background-size: contain;
}
.handle_login_container {
  position: absolute;
  top: 68%;
  left: 47%;
  height: auto;
  width: 94%;
}
.handle_login_heading p {
  font-size: 1rem;
}
.handle_login_number_content input {
  font-size: 0.8rem;
}
.handle_login_btn_content p {
  font-size: 0.9rem;
}
.handle_login_proceed_content p {
  font-size: 0.9rem;
}
.handle_login_otp_content input {
  font-size: 0.8rem;
}
.handle_login_otp_content p {
  padding-top: 0.9rem;
  font-size: 0.8rem;
}
.email_verify p {
  font-size: 0.7rem;
  padding-top: 0.5rem;
}
.crossbtn {
  left: 18%;
   top: 1rem;
 }
/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .mobile_input {
    display: block;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #c42118; */
  }
  .navbar {
    display: none;
  }
  .mobile_input_search {
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 6vh;
    border: 1px solid #b2b3b3;
    border-radius: 8px;
  }

  .mobile_input_search input {
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
  }
  .mobile_input_search img {
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
  }
  .crossbtn {
    left: 20%;
     top: 1rem;
   }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 900px) {
  /* CSS rules for small screens and laptops */
  .navbar {
    display: none;
  }

  .mobile_input {
    display: block;
    height: 8vh;
  }
  .mobile_input_search {
    width: 92%;
    height: 7vh;
    border: 1px solid #b2b3b3;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .mobile_input_search img {
    margin-right: 1rem;
    height: 25px;
    width: 25px;
  }
  .mobile_input_search input {
    width: 100%;
    height: 4vh;
    padding-left: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #b2b3b3;
    font-family: "Poppins", sans-serif;
  }
  .crossbtn {
    left: 53%;
     top: 1rem;
   }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  /* CSS rules for desktops and large screens */
  .navbar {
    height: 7rem;
  }
  .desktop_herder_content {
    width: 92%;
    height: 6rem;
  }
  .luqma_location {
    display: none;
  }
  .luqma_input {
    width: 35%;
    margin-left: 1rem;
  }

  .luqma_logo img {
    height: 80px;
    width: 130px;
  }
  .luqma_input input {
    width: 250px;
  }
  .luqma_option {
    width: 40%;
  }
  .cart_border_container {
    width: 100px;
  }
  .cart_border_content2 p {
    padding-top: 0.4rem;
    font-size: 0.7rem;
  }
  .crossbtn {
    left: 56%;
     top: 1rem;
   }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .navbar {
    height: 7rem;
  }
  .desktop_herder_content {
    width: 90%;
    height: 6rem;
  }
  .luqma_logo img {
    height: 80px;
    width: 130px;
  }

  .luqma_location {
    height: 5vh;
    min-width: 27%;
    /* background-color: pink; */
    padding-left: 1rem;
  }
  .luqma_location_top img {
    width: 15px;
    height: 15px;
  }
  .luqma_location_top p {
    font-size: 0.7rem;
  }

  .luqma_location_bottom p {
    font-size: 0.8rem;
  }
  .luqma_input {
    width: 26%;
    /* background-color: aqua; */
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .luqma_input input {
    width: 180px;
  }
  .luqma_option {
    min-width: 35%;
  }
  .cart_border_container {
    width: 100px;
  }
  .cart_border_content2 p {
    padding-top: 0.4rem;
    font-size: 0.7rem;
  }
  .crossbtn {
    left: 65%;
     top: 1rem;
   }
}
/* @media only screen and (min-width: 970px){
  .luqma_input input{
    width: 260px;
  }
} */
@media only screen and (min-width: 1090px) and (max-width: 1150px) {
  .luqma_input input {
    width: 200px;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
@media only screen and (min-width: 1151px) and (max-width: 1200px) {
  .luqma_input input {
    width: 230px;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1324px) {
  .luqma_input input {
    width: 170px;
  }
}
/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */

  .luqma_logo img {
    height: 100px;
    width: 160px;
  }
  .luqma_location {
    width: 25%;
    padding-left: 2rem;
  }
  .luqma_location_top img {
    height: 15px;
    width: 15px;
  }
  .luqma_location_top p {
    font-size: 0.7rem;
  }
  .luqma_location_bottom p {
    font-size: 0.8rem;
  }
  .luqma_input {
    width: 28%;
  }
  .luqma_input input {
    min-width: 280px;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    padding-left: 0.9rem;
  }
  .luqma_input img {
    height: 17px;
    width: 17px;
    margin-right: 0.3rem;
  }
  .luqma_option {
    width: 30%;
  }
  .currency_container img {
    height: 16px;
    width: 16px;
  }
  .currency_container p {
    font-size: 0.8rem;
  }
  .header_currency span {
    font-size: 0.8rem;
  }
  .cart_border_container {
    width: 100px;
  }
  .cart_border_content2 p {
    font-size: 0.7rem;
    padding-top: 0.4rem;
  }
  .cart_border_content2 p span {
    font-size: 0.9rem;
  }
  .handle_login_btn_content p {
    padding-top: 0.4rem;
  }
  .handle_login_heading p {
    padding: 0.6rem 2rem;
  }
  .crossbtn {
   left: 65%;
    top: 1rem;
  }
}
