.notification_heading {
  /* background-color: aqua; */
  width: 100%;
}
.notification_heading p {
  font-family: regular;
  font-size: 20px;
  padding-left: 0.6rem;
}
.show_notification_list {
  width: 100%;
  height: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0.5rem;
}
.show_notification_heading {
  width: 100%;
  min-height: 20vh;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  border-radius: 20px;
}
.show_notification_heading h5 {
  font-size: 1.1rem;
  font-family: semibold;
  color: #fc0043;
}
.show_notification_heading p {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.2;
}
.show_notification_heading span {
  font-size: 0.8rem;
  text-align: justify;
  line-height: 0.8;
}

/* Mobile devices (320px - 480px) */
@media (max-width: 768px) {
  /* CSS rules for mobile devices */
  .notification_heading {
    width: 100%;
    padding: 1rem 0rem 0rem 0.3rem;
  }
  .show_notification_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 0.8rem;
    height: 78vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .show_notification_list::-webkit-scrollbar{
    width: 1px;
  }
  .show_notification_heading{
    min-height: auto;
  }
  .show_notification_heading p {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}
/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens and TV */
}
