.amazon_container {
  width: 100%;
  height: 40vh;
  /* background-color: aqua; */
 padding-top: 7.5rem;
}
.amazon_select_content {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}
.radio_amazon_image{
  /* background-color: blue; */
  width: 92%;
  height: 5vh;
  display: flex;
  align-items: center;
}
.amazon_radio_btn{
  height: 21px;
  width: 21px;
  border: 1px solid #FF0040;
  border-radius: 50px;
}
.amazon_image_container{
  width: 30%;
  height: 5vh;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.amazon_linkaccount_text{
  width: 25%;
  /* background-color: green; */
  height: 5vh;
}
.amazon_linkaccount_text p{
  font-family: regular;
  padding-top: 0.45rem;
  /* text-align: center; */
}
.amazon_linkaccount_text:hover{
  border-bottom: 2px solid #FF0040;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.amazon_inputotp_container{
  width: 100%;
  height: 5vh;
  /* background-color: yellowgreen; */
}
.amazon_inputotp_content{
 /* background-color: pink; */
  width: 70%;
  float: right;
  height: 5vh;
  display: grid;
  place-items: center;
}
.input_resend{
  /* background-color: orangered; */
  height: 5vh;
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.input_resend input{
  width: 100%;
  height: 4vh;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-family: regular;
}
.input_resend p{
  font-size: 0.9rem;
  font-family: regular;
  font-weight: 600;
  color: #FF0040;
  padding-top: 0.9rem;
}
.amazon_payment_btn_container{
  width: 100%;
  height: 12vh;
  /* background-color: blueviolet; */
  display: grid;
  place-items: center;
}
.amazon_payment_btn_content{
  width: 60%;
  height: 8vh;
  /* background-color: blanchedalmond; */
  display: grid;
  place-items: center;
}
.amazon_payment_btn{
 width: 48%;
 background-color: #FF0040;
 height: 6vh;
 border-radius: 5px;
 cursor: pointer;
}
.amazon_payment_btn p{
  font-family: regular;
  font-weight: 600;
  text-align: center;
  color: white;
  padding-top: 0.7rem;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
 /* select content */
 .amazon_container {
 padding-top: 6.5rem;
}

.amazon_radio_btn{
  height: 21px;
  width: 21px;
  border: 1px solid #FF0040;
  border-radius: 50px;
}
.amazon_image_container{
  min-width: 37%;
  /* background-color: aqua; */

 
}
.amazon_linkaccount_text{
  min-width: 26%;
}
.amazon_linkaccount_text p{
  font-family: regular;
  padding-top: 0.2rem;
  /* text-align: center; */
}

.amazon_inputotp_content{
  width: 63%;
  /* background-color: #FF0040; */
  height: 6vh;
}
.amazon_payment_btn_container{
  width: 100%;
  height: 15vh;
  /* background-color: blueviolet; */
  display: grid;
  place-items: center;
}
.amazon_payment_btn_content{
  min-width: 30%;
  height: 12vh;
  /* background-color: blanchedalmond; */
  display: grid;
  place-items: center;
  padding-left: 3.2rem;
}
.amazon_payment_btn{
 min-width: 50%;
 /* background-color: #FF0040; */
 height: 6vh;
 border-radius: 5px;
}
.amazon_payment_btn p{
  font-family: regular;
  font-weight: 600;
  text-align: center;
  color: white;
  padding-top: 0.5rem;
}
.amazon_inputotp_container{
  padding-top: 0.5rem;
}

}
