.centerfooter {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.centerfooter img{
   height: 110px;
   width: 180px;
}

.maincenterfooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 280px) and (max-width: 480px) {
  /* CSS rules for mobile devices */

  .centerfooter {
    width: 91%;
  }
  .centerfooter img {
    height: 65px;
    width: 130px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .centerfooter {
    width: 93%;
    padding-top: 40px;
  }
  .centerfooter img {
    height: 70px;
    width: 150px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) {
  /* CSS rules for extra large screens and TV */
}
