.subcategorie_product_name_img {
  width: auto;
  height: auto;
  /* text-align: center; */
  /* margin-top: 1.5rem; */
  cursor: pointer;
  /* background-color: aqua; */
  padding-bottom: 0.6rem;
}
.subcategorie_product_img_comtainer {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.subcategorie_product_name_img img {
  height: 100%;
  width: 100%;
  display: block;
  transition: 0.3s ease-in-out;
}
.subcategorie_product_name_img:hover {
  border-bottom: 2px solid red;
  /* transition: 0.2s ease-in-out; */
}
.subcategorie_product_name_img p {
  font-size: 15px;
  font-family: regular;
  /* padding-bottom: 5px; */
  text-align: center;
  /* padding-top: 10px; */
}
.subcategorie_product_name_img p:hover {
  color: #ff0040;
  transition: 0.3s ease-in-out;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
  .subcategorie_product_name_img {
    width: 100%;
    height: 26vh;
  }
  .subcategorie_product_name_img p {
    font-size: 12px;
    font-family: medium;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
  .subcategorie_product_name_img {
    height: auto;
    width: 16%;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
  .subcategorie_product_name {
    width: 10%;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
  .subcategorie_product_name_img{
    width: 9%;
  }
  .subcategorie_product_img_comtainer {
    width: 100%;
    height: 16vh;
  }
  .subcategorie_product_name_img p {
    font-size: 0.8rem;
    padding-bottom: 0px;
  }
  .subcategorie_product_name_img img {
    height: 100%;
    width: 100%;
  }
}
