.Add_to_cart_btn {
    width: 17%;
  }
  .Add_to_cart_btn button {
    background-color: #ff0040;
    border: none;
    height: 5.5vh;
    width: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    font-family: semibold;
  }

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
 .Add_to_cart_btn{
  width: 28%;
 }
  .Add_to_cart_btn button {
    height: 5vh;
  }
  .full_view_incre_btn{
    width: 28%;
  }
  .full_view_incre_btn p{
    font-size: 1.1rem;
  }
}
