.googlepay_container {
  width: 100%;
  height: 60vh;
  /* background-color: aqua; */
  padding-top: 11.3rem;
}
.googlepay_select_content {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}
.radio_googlepay_image {
  /* background-color: blue; */
  width: 92%;
  height: 5vh;
  display: flex;
  align-items: center;
}
.googlepay_radio_btn {
  height: 21px;
  width: 21px;
  border: 1px solid #ff0040;
  border-radius: 50px;
}
.googlepay_image_container {
  width: 35%;
  height: 5vh;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1rem;
}
.googlepay_linkaccount_text {
  width: 25%;
  /* background-color: green; */
  height: 5vh;
}
.googlepay_linkaccount_text p {
  font-family: regular;
  padding-top: 0.45rem;
}
.googlepay_linkaccount_text:hover {
  border-bottom: 2px solid #ff0040;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.googlepay_inputotp_container {
  width: 100%;
  height: 5vh;
  /* background-color: yellowgreen; */
}
.googlepay_inputotp_content {
  /* background-color: pink; */
  width: 66%;
  float: right;
  height: 5vh;
  display: grid;
  place-items: center;
}
.input_resend {
  /* background-color: orangered; */
  height: 5vh;
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.input_resend input {
  width: 100%;
  height: 5vh;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-family: regular;
}
.input_resend p {
  font-size: 0.9rem;
  font-family: regular;
  font-weight: 600;
  color: #ff0040;
  padding-top: 0.9rem;
}
.googlepay_payment_btn_container {
  width: 100%;
  height: 14vh;
  /* background-color: blueviolet; */
  display: grid;
  place-items: center;
}
.googlepay_payment_btn_content {
  width: 60%;
  height: 8vh;
  /* background-color: blanchedalmond; */
  display: grid;
  place-items: center;
  padding-left: 2rem;
}
.googlepay_payment_btn {
  width: 48%;
  background-color: #ff0040;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
}
.googlepay_payment_btn p {
  font-family: regular;
  font-weight: 600;
  text-align: center;
  color: white;
  padding-top: 0.7rem;
}

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS rules for mobile devices */
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS rules for iPads and tablets */
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS rules for small screens and laptops */
}

/* Desktops, large screens (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS rules for desktops and large screens */
}

/* Extra large screens, TV (1201px and above) */
@media only screen and (min-width: 1201px) and (max-width: 1530px) {
  /* CSS rules for extra large screens and TV */
  /* select content */
  .googlepay_container {
    padding-top: 10rem;
   }
   
   .googlepay_radio_btn{
     height: 21px;
     width: 21px;
     border: 1px solid #FF0040;
     border-radius: 50px;
   }
   .googlepay_image_container{
     min-width: 38%;
   
    
   }
   .googlepay_linkaccount_text{
     max-width: 22%;
   }
   .googlepay_linkaccount_text p{
     font-family: regular;
     padding-top: 0.5rem;
     /* text-align: center; */
   }
   
   .googlepay_inputotp_content{
     width: 62%;
     /* background-color: #FF0040; */
     height: 6vh;
   }
   .googlepay_payment_btn_container{
     width: 100%;
     height: 15vh;
     /* background-color: blueviolet; */
     display: grid;
     place-items: center;
   }
   .googlepay_payment_btn_content{
     height: 12vh;
     display: grid;
     place-items: center;
     padding-left: 3.3rem;
   }
   .googlepay_payment_btn{
    max-width: 50%;
    height: 6vh;
    border-radius: 5px;
   }
   .googlepay_payment_btn p{
     font-family: regular;
     font-weight: 600;
     text-align: center;
     color: white;
     padding-top: 0.5rem;
   }
   .googlepay_inputotp_container{
     padding-top: 0.5rem;
   }
}
